[Upgrade-List]
1=09001Color
2=emp_sh
3=gpiflongxfr.hex
4=osrfx2.ko
5=config/DefaultItemPara.ini
6=config/Upgrade.ini
7=i18n/09001_lang.mo
8=res/logo.bmp
9=res/Note.txt
10=res/bdmk_scaled/ABD/1.01.jpg
11=res/btn_format/1.jpg
12=res/icon/replay.png
13=res/printer/hp_print.sh
14=res/printer/ppd/laserjet.ppd
15=res/probe/35C20H.jpg
16=xserverrc/switch_tv_sh
17=res/newdir
18=res/newdir/test.ini

#升级列表中每行末尾不可有空格
#升级文件若需要创建新目录，则必须将目录单独列一项，如17和18项
#升级源文件路径需与上面记录目录类似，如升级09001_lang.mo文件，需放置在U盘upgrade/i18n下
#最大同时升级文件数50个,最长文件长度(即上面等号后面字符串长度)为255

